body{
    background-color:#f0f;
}
#btn{
    color: #f0f;
    background-color: antiquewhite;
}
#valor1{
    background-color: antiquewhite;
}
#valor2{
    background-color: antiquewhite;
}
#valor3{
    background-color: antiquewhite;
}
#valor4{
    background-color: antiquewhite;
}